<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>M.S.P | 마이페이지 > 내가 쓴 게시글</title>

    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/mypage/mypageReset.css}">
    <link rel="stylesheet" th:href="@{/css/mypage/myBoard.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

<div th:replace="~{/fragments/header.html :: fragment-header}"></div>

<main>
    <div class="main-header">
        <div class="main-content">

            <div th:replace="~{/mypage/aside.html :: fragment-aside}"></div>

            <div class="content-container">
                <div class="title-box">
                    <h2>마이페이지</h2>
                </div>
                <div class="sub-title-box">
                    <p>
                        <i class="fa-solid fa-house"></i><a th:href="@{/mypage}"> <span>홈</span> </a>
                        <i class="fa-solid fa-angle-right"></i>
                        <a th:href="@{/mypage/myBoard}"><strong>내가 쓴 게시글</strong></a>

                    </p>
                </div>
                <div class="content-wrap">
                    <div class="search-form">
                        <span>총 게시물 : [[${total}]]건</span>
                        <div class="search-right">
                        </div>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>번호</th>
                                <th>분류</th>
                                <th>제목</th>
                                <th>작성자</th>
                                <th>작성 날짜</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="myBoard, k: ${myBoardPage}">
                                <td>
                                    [[${total - (((page.page - 1) * page.pageCount) + k.index)}]]
                                </td>
                                <td th:if="${myBoard.configCode == 'qna'}" th:text="QnA"></td>
                                <td th:unless="${myBoard.configCode == 'qna'}" th:text="리뷰"></td>
                                <td>
                                    <a th:href="@{/board/boardView(configCode=${myBoard.configCode}, id=${myBoard.id})}" class="b-subject">
                                    [[${myBoard.subject}]]</a>
                                </td>
                                <td>[[${myBoard.writer}]]</td>
                                <td>[[${myBoard.reg}]]</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="bottom">
                        <div class="bottom-center">
                            <a href="#" th:if="${page.page <= 1}">
                                <i class="fa-solid fa-caret-left"></i>
                            </a>
                            <a th:href="@{/mypage/myBoard(page=${page.page - 1})}" th:unless="${page.page <= 1}">
                                <i class="fa-solid fa-caret-left"></i>
                            </a>
                            <th:block th:each="i : ${ #numbers.sequence(page.startPage, page.endPage, 1) }">
                                <th:block th:if="${page.page eq i}">
                                    <a class="active" th:href="@{/mypage/myBoard(page=${i})}">
                                        [[${i}]]
                                    </a>
                                </th:block>
                                <th:block th:unless="${page.page eq i}">
                                    <a th:href="@{/mypage/myBoard(page=${i})}">
                                        [[${i}]]
                                    </a>
                                </th:block>
                            </th:block>
                            <a href="#" th:if="${page.page >= page.totalPage}">
                                <i class="fa-solid fa-caret-right"></i>
                            </a>
                            <a th:href="@{/mypage/myBoard(page=${page.page+1})}" th:unless="${page.page >= page.totalPage}">
                                <i class="fa-solid fa-caret-right"></i>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<div th:replace="~{/fragments/footer.html :: fragment-footer}"></div>
<script type="text/javascript" th:src="@{/js/loginCheck.js}"></script>
</body>
</html>