/*---------------------------boardList content-----------------------*/

.main-container {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 100px;
    padding-top: 100px;

}

.bg-title {
    height: 300px;
    background-image: url("/images/disease3.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
}

.bg-title h1 {
    color: #fff;
    margin: auto;
}

/* ---------------------section---------------------------- */
.section-container {
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding-right: 50px;


}


/* -------------------------aside--------------------------- */
aside {
    width: 30%;
    margin-left: 30px;
    height: 500px;

}

aside ul li {
    width: 85%;
    text-align: center;
    padding: 14px 0;
    font-weight: 600;
    border-bottom: 1px solid #ccc;
}

aside ul li.active {
    background-color: #eee;
}

aside ul li.active a {
    color:#3CB4FF;
}

aside ul li:first-child {
    background-color: skyblue;
    height: 200px;
    line-height: 150px;
    text-align: center;
    padding: 20px 0;
}

aside ul li:first-child a {
    color: #fff;
}

aside ul li a:hover {
    color: #3CB4FF;
}

.side-bg-wrap{
    /* font-size: 2px; */
    color: #fff;
}

/* ---------------------- content ------------------------ */

.content-wrap {
    width: 100%;
    margin: 0px auto;
    margin-top: 40px;
    padding: 0 10px;

}

.content-wrap .list-box ul{
    display: flex;
    margin-bottom: 30px;
}

.content-wrap .list-box ul span{
    margin: 0 15px;
}

.content-wrap .list-box ul li a:hover {
    color: #3CB4FF;

}

.content-wrap .list-box ul li a.active {
    color: #3CB4FF;
}

.search-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search-right {
    display: flex;
    justify-self: center;
}

select {
    height: 30px;
    border: 1px solid #504d4d;
    border-right: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    outline: 0;
}

.search-box {
    border: 1px solid #504d4d;
    border-left: 1px solid #cbcaca;
    padding-left: 12px;
    padding-right: 12px;
    height: 30px;
    display: flex;
    overflow: hidden;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.search2 {
    border: 0;
}

.search2:focus {
    outline: none;
}

.search-box button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}
/* ---------------------------webboard-------------------------- */
.web-board{
    width: 100%
}

.web-content {
    max-width: 1280px;
    width: 100%;
}


.web-content h3 {
    margin-bottom: 20px;
}

.web-content h3:hover{
    text-decoration: underline;
}

.web-content hr{
    margin: 50px 0;
}

.web-content p{
    font-weight: lighter;
    color: rgba(0, 0, 0, .5);
    padding-bottom: 8px;
    font-size: 15px;
}

.web-content span {
    padding-right: 5px;
    font-size: 13px;
}

.web-content span.visit {
    color: rgba(0, 0, 0, .5);
}

.web-content span.regdate {
    color: rgba(0, 0, 0, .5);
    font-style: italic;
}



/* ------------------------bottom------------------------- */

.bottom {
    max-width: 1480px;
    width: 100%;
    margin-top: 20px;
    margin: 0 auto;
}

.bottom-right {
    display: flex;
    justify-content: space-between;
    height: 60px;
    margin: 0 5px;
}

.bottom-right button {
    width: 80px;
    height: 30px;
    margin-top: 10px;
    background-color: #6aafe6;
    color: #fff;
    border: 0;
    cursor: pointer;
    border-radius: 2px;
}

.bottom-center {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.bottom-center a.active {
    background-color: #eee;
}

.bottom-center a {
    display: inline-block;
    padding: 2px 8px;
    background-color: #fff;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 0 1px 1px 0 #eee;
    border-radius: 20px;
}
