/*---------------------------boardReview content -----------------------*/

.main-container {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 100px;
    padding-top: 100px;
}

.bg-title {
    height: 300px;
    background-image: url("/images/capsule2.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
}

.bg-title h1 {
    color: #fff;
    margin: auto;
}

/* ---------------------section---------------------------- */
.section-container {
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding-right: 50px;

}

.content-wrap {
    width: 100%;
    margin: 0px auto;
    margin-top: 40px;
    padding: 0 10px;
}

/* -------------------------aside--------------------------- */
aside {
    width: 30%;
    margin-left: 30px;
    height: 500px;
}

aside ul li {
    width: 85%;
    text-align: center;
    padding: 14px 0;
    font-weight: 600;
    border-bottom: 1px solid #ccc;
}



aside ul li.active {
    background-color: #eee;
}

aside ul li.active a {
    color:#3CB4FF;
}


aside ul li:first-child {
    background-color: skyblue;
    height: 200px;
    line-height: 150px;
    text-align: center;
    padding: 20px 0;
}

aside ul li:first-child a {
    color: #fff;
}

aside ul li a:hover {
    color: #3CB4FF;
}

.side-bg-wrap{
    /* font-size: 2px; */
    color: #fff;
}



/* ---------------------- content ------------------------ */

.search-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search-right {
    display: flex;
    justify-self: center;
}

select {
    height: 30px;
    border: 1px solid #504d4d;
    border-right: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.search-box {
    border: 1px solid #504d4d;
    border-left: 1px solid #cbcaca;
    padding-left: 12px;
    padding-right: 12px;
    height: 30px;
    display: flex;
    overflow: hidden;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.sel-box select{
    border: 0;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.search2 {
    border: 0;
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
}

.search2:focus {
    outline: none;
}

.search-box button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
}

/* -----------------------table------------------------ */

table {
    border-collapse: collapse;
    width: 100%;
    /* max-width: 1400px; */
    margin: 0 auto;
    font-size: 14px;
}

tr {
    border: 1px solid #eaeaea;
    border-left: 0;
    border-right: 0;
}

th {
    background-color: #f8f8f8;
}

td,
th {
    padding: 15px;
}

td {
    text-align: center;
}

td:first-child {
    color: #aaa;
}

td:nth-child(2) {
    text-align: left;
    padding-left: 8px;
    cursor: pointer;
    font-weight: 500;
}

td:nth-child(2):hover {
    text-decoration: underline;

    transition: .3s;
}

td:nth-child(3) {
    font-weight: 500;
}



th:nth-child(1) {
    width: 5%;
}

th:nth-child(3) {
    width: 10%;
}

th:nth-child(4) {
    width: 6%;
}

th:nth-child(5) {
    width: 10%;
}

/* ------------------------bottom------------------------- */

.bottom {
    max-width: 1480px;
    width: 100%;
    margin-top: 20px;
    margin: 0 auto;
}

.bottom-right {
    display: flex;
    justify-content: space-between;
    height: 60px;
    margin: 0 5px;
}

.bottom-right button {
    width: 80px;
    height: 30px;
    margin-top: 10px;
    background-color: #6aafe6;
    color: #fff;
    border: 0;
    cursor: pointer;
    border-radius: 2px;
}

.bottom-center {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.bottom-center a.active {
    background-color: #eee;
}

.bottom-center a {
    display: inline-block;
    padding: 2px 8px;
    background-color: #fff;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 0 1px 1px 0 #eee;
    border-radius: 20px;
}

