<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>M.S.P | 로그인</title>
	<link rel="stylesheet" th:href="@{/css/user/findUser.css}">
	<link rel="stylesheet" th:href="@{/css/common.css}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

</head>
<body>
	<div class="container">
		<div class="login_box">
			<div class="find-type">
				<div class="find-id type-active" onclick="toggleForm('id')">
					아이디 찾기
				</div>
				<div class="find-pwd" onclick="toggleForm('pwd')">
					비밀번호 찾기
				</div>
			</div>

			<div class="find-content">
				<div>
					<h1>
						<a th:href="@{/index}"><img th:src="@{/images/nocolorlogo.png}" alt=""></a>
					</h1>
				</div>
				<div class="box-id">
					<div>
						<p class="find-info">
							<i class="fa-solid fa-pen"></i> 아이디는 가입시 입력하신 이메일로 찾을 수 있습니다.<br />
							<i class="fa-solid fa-pen"></i> 사용자 정보를 입력 후 찾기 버튼을 클릭하세요.
						</p>
					</div>

					<div class="form_box">
						<form>
							<ul>
								<li>
									<input type="text" name="fidName" placeholder="이름">
								</li>
								<li>
									<input type="text" name="fidEmail" placeholder="이메일">
								</li>

								<li class="form-bottom">
									<input type="button" name="backBtn" class="btn1 btn-left" value="취소" onclick="goBack()">
									<input type="button" name="fidBtn" class="btn1 btn-right" value="찾기" onclick="find('id')">
								</li>
							</ul>
						</form>
					</div>
				</div>
				<div class="box-pwd" style="display: none;">
					<div>
						<p class="find-info">
							<i class="fa-solid fa-pen"></i> 비밀번호는 가입시 입력하신 아이디, 이메일로 찾을 수 있습니다.<br />
							<i class="fa-solid fa-pen"></i> 사용자 정보를 입력 후 찾기 버튼을 클릭하세요.
						</p>

					</div>

					<div class="form_box">
						<form>
							<ul>
								<li>
									<input type="text" name="fpwdName" placeholder="이름">
								</li>
								<li>
									<input type="text" name="fpwdId" placeholder="아이디">
								</li>
								<li>
									<input type="text" name="fpwdEmail" placeholder="이메일">
								</li>
								<li class="form-bottom">
									<input type="button" name="backBtn" class="btn1 btn-left" value="취소" onclick="goBack()">
									<input type="button" name="fpwdBtn" class="btn1 btn-right" value="찾기" onclick="find('pwd')">
								</li>
							</ul>
						</form>
					</div>
				</div>

				<div class="find_wrap">
					<ul>
						<li>
							<a th:href="@{/user/login}">로그인 페이지로 가기</a>
						</li>
					</ul>
					<ul>
						<li>
							<a th:href="@{/user/register}">회원가입 페이지로 가기</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="modal">
		<div class="modal-body">
			<div class="modal-content">

			</div>

			<div class="modal-close">
				<span class="close" onclick="closeModal()">확인 &times;</span>
			</div>

		</div>
	</div>




<script>
	function find(type) {
		let obj = null;

		if(type == "id"){
			let userName =  document.querySelector("input[name=fidName]");
			let userEmail = document.querySelector("input[name=fidEmail]");

			if(userName.value == ""){
				alert("이름를 입력하세요.");
				userName.focus();
				return false;
			}
			if(userEmail.value == ""){
				alert("이메일를 입력하세요.");
				userEmail.focus();
				return false;
			}

			obj = {
				userName : userName.value,
				userEmail : userEmail.value,
				type
			}

			userName.value="";
			userEmail.value="";

		}
		else{
			let userId = document.querySelector("input[name=fpwdId]");
			let userName =  document.querySelector("input[name=fpwdName]");
			let userEmail = document.querySelector("input[name=fpwdEmail]");

			if(userName.value == ""){
				alert("이름를 입력하세요.");
				userName.focus();
				return false;
			}
			if(userId.value == ""){
				alert("아이디를 입력하세요.");
				userId.focus();
				return false;
			}
			if(userEmail.value == ""){
				alert("이메일를 입력하세요.");
				userEmail.focus();
				return false;
			}

			obj = {
				userId : userId.value,
				userName : userName.value,
				userEmail : userEmail.value,
				type
			}

			userId.value="";
			userName.value="";
			userEmail.value="";
		}

		$.ajax({
            type: "post",
            url: "/findUser",
            dataType: "json",
            data: obj,
            success: function(res) {
                let output = "";

                if(res.type == ""){
                    output =    `<h4>요청하신 회원정보가 없습니다.</h4>
                                <div class="modal-img">
								<img src="/images/not-found.png">
								</div>
								<p>입력한 정보를 다시 확인해 주세요.</p>`;

                }else if(res.type == "id"){
                    output =    `<h4>요청하신 아이디 찾기 결과입니다.</h4>
                                <div class="modal-img">
								<img src="/images/find-id.png">
								</div>
								<p>입력한 정보로 조회된 아이디는 <span>${res.user.userId}</span> 입니다.</p>`
                }else{
                    output =    `<h4>요청하신 비밀번호 찾기 결과입니다.</h4>
								<div class="modal-img">
								<img src="/images/find-pwd.png">
								</div>
								<p>입력한 정보로 조회된 비밀번호는 <span>${res.user.userPasswd}</span> 입니다.</p>`

				}

				document.querySelector(".modal-content").innerHTML = output;
				document.querySelector(".modal").style.display = "flex";
            }
        });
    }

	function closeModal() {
		document.querySelector(".modal").style.display = "none";
	}

	function toggleForm(type) {
        let elements = document.querySelectorAll('.find-type > div');
        elements.forEach(function(el) {
            el.classList.remove('type-active');
        });

        let clickedElement = document.querySelector('.find-' + type);
        clickedElement.classList.add('type-active');

        let targetForm = document.querySelector('.box-' + type);
        targetForm.style.display = 'block';

        // 다른 박스는 숨김
        let otherType = (type === 'id') ? 'pwd' : 'id';
        let otherForm = document.querySelector('.box-' + otherType);
        otherForm.style.display = 'none';
    }

	function goBack() {
	    window.history.back();
	}



</script>
</body>
</html>