<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<body>
<footer th:fragment="fragment-footer">
        <div class="footer_container">
            <div class="copyright">
                <p>
                    <span>사이트 이용 문의</span><br>
                    [문의전화] TEL 010-1234-5678 <br>
                    [코리아아이티아카데미] (TEL 051-914-5890) 부산광역시 부산진구 중앙대로 668 에이원프라자 빌딩 4층<br>
                    Copyright © Personal Information Protection Commission. All right reserved
                </p>
            </div>

            <div class="foot-logo">
                <a  th:href="@{/index}"> <img th:src="@{/static/images/nocolorlogo.png}" alt=""></a>
            </div>
        </div>
</footer>

</body>
</html>