<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="siderbar-header" th:fragment="sidebar_header_frag">
    <a href="/admin">
        <h3>M.S.P</h3>
    </a>
</div>

<ul class="components" th:fragment="sidebar_components_frag">
    <li>
        <a href="/admin/userList">
            <i class="fa-solid fa-user"></i> User List
        </a>
    </li>
    <li>
        <a href="/admin/medList">
            <i class="fa-solid fa-capsules"></i> Medicine List
        </a>
    </li>
    <li>
        <a href="/admin/noticeMain">
            <i class="fa-solid fa-bullhorn"></i> Notice Board
        </a>
    </li>
    <li>
        <a href="/admin/disList">
            <i class="fa-solid fa-disease"></i> Disease List
        </a>
    </li>
</ul>
</body>
</html>